.numeric-input
  display inline-block
  background white
  width 12em
  height 1.2em
  padding 2px
  text-align left

  &.readonly, &.disabled
    opacity 0.5
    pointer-events none

  & > div
    position relative
    overflow hidden
    height 100%

.numeric-input-placeholder
  color #757575

.numeric-input-text
  width 10000%

  // span
  //   display table-cell
  //   vertical-align middle

.numeric-input-cursor
  pointer-events none
  position absolute
  left 0
  top 0
  width 1px
  height 100%
  animation numeric-input-cursor 1s infinite

@keyframes numeric-input-cursor {
  from {
    opacity 1
  }
  to {
    opacity 0
  }
}

.numeric-keyboard-actionsheet
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  height: 36%

  & > div:first-child
    height 100%

  & > div:last-child
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    transform: translateY(100%)
    box-shadow: 0 -2px 4px 0 #cfd4da
