<div class="app">
  <h1 class="title">Numeric keyboard</h1>
  <section class="keyboard">
    <numeric-keyboard class="numeric-keyboard" layout="tel" entertext="send" (onPress)="press($event)"></numeric-keyboard>
    <p class="output">{{keyboardOutput}}</p>
  </section>
  <section class="input">
    <numeric-input class="numeric-input" type="number" placeholder="touch to input" format="^(?:\d+(?:\.\d{0,2})?)?$" [(ngModel)]="val"></numeric-input>
    <p class="output">{{InputOutput}}</p>
  </section>
</div>
