@font-face
  font-family numeric-keyboard
  src url('../assets/numeric-keyboard.woff') format('woff')
  font-weight normal
  font-style normal

.numeric-keyboard
  width 100%
  height 100%

  table
    width 100%
    height 100%
    text-align center
    table-layout fixed
    border-collapse collapse
  tr:first-child td
    border-top none
  td
    transition background-color 0.5s
    border-style solid
    border-width 1px 1px 0 1px
    &:first-child
      border-left none
    &:last-child
      border-right 0
    &[data-icon]::before
      content attr(data-icon)
    &[data-icon=del]::before,
    &[data-icon=esc]::before
      font-family numeric-keyboard !important
      content attr(data-icon)
      speak none
      font-style normal
      font-weight normal
      font-variant normal
      text-transform none
      line-height 1

      letter-spacing 0
      -webkit-font-feature-settings "liga"
      font-feature-settings "liga"
      -webkit-font-variant-ligatures discretionary-ligatures
      font-variant-ligatures discretionary-ligatures

      -webkit-font-smoothing antialiased