body
  font-size 0.24rem
  padding 0.32rem
h1
  text-align center
.keyboard
  .numeric-keyboard
    height 3.6rem
    border 1px solid #cfd4da
  .keyboard-output
    font-size 0.32rem
.input
  .numeric-input
    font-size 0.36rem
    height 0.48rem
    border 1px solid #cfd4da