body
  font-size 0.24rem
  padding 0.32rem
h1
  text-align center
.keyboard
  .numeric-keyboard
    height 3.6rem
    border 1px solid #cfd4da
  .keyboard-output
    font-size 0.32rem
.input
  display flex
  align-items center
  .numeric-input
    font-size 0.36rem
    height 0.48rem
    border 1px solid #cfd4da
  button
    font-size 0.36rem
    line-height 0.48rem
    background #eee
    margin-left 0.2rem